global
	#log /dev/log	local0
	#log /dev/log	local1 notice
	#chroot /var/lib/haproxy
	#stats socket /run/haproxy/admin.sock mode 660 level admin
	#stats timeout 30s
	#user haproxy
	#group haproxy
	#daemon
	maxconn 10000

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3
	tune.ssl.default-dh-param 2048

	lua-load /usr/local/etc/haproxy/acme-http01-webroot.lua

defaults
	log	global
	mode	tcp
	option  dontlognull
	option	logasap
	option	tcp-smart-accept
	option	tcp-smart-connect
	option  log-health-checks
	option  log-separate-errors
	option  dontlog-normal
	option  socket-stats
	option	tcpka #tcp keeaplive for client & backends
	retries 5
	maxconn 10000

	timeout connect 5000ms
	timeout client  50000ms
	timeout server  50000ms

	mode http
	option	http-server-close
	errorfile 400 /usr/local/etc/haproxy/errors/400.http
	errorfile 403 /usr/local/etc/haproxy/errors/403.http
	errorfile 408 /usr/local/etc/haproxy/errors/408.http
	errorfile 500 /usr/local/etc/haproxy/errors/500.http
	errorfile 502 /usr/local/etc/haproxy/errors/502.http
	errorfile 503 /usr/local/etc/haproxy/errors/503.http
	errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend www-https
	bind :443 ssl crt /usr/local/etc/haproxy/ssl no-sslv3
	mode http
        http-request set-header X-SSL yes
        http-request set-header X-SSL-Cipher %[ssl_fc_cipher]
        http-request set-header X-SSL-Protocol %[ssl_fc_protocol]
        http-request set-header X-SSL-alg-keysize %[ssl_fc_alg_keysize]
	http-request set-header X-Location-Path %[capture.req.uri]

	acl host_autoconfig path_beg /.well-known/autoconfig/mail/config-v1.1.xml
	acl url_acme_http01 path_beg /.well-known/acme-challenge/
	http-request use-service lua.acme-http01 if METH_GET url_acme_http01

	reqadd X-Forwarded-Proto:\ https

	use_backend backend_autoconfig if host_autoconfig
	default_backend letsencrypt-backend

frontend www-http
	bind :80
	mode http

	acl host_autoconfig path_beg /.well-known/autoconfig/mail/config-v1.1.xml
	acl url_acme_http01 path_beg /.well-known/acme-challenge/

	http-request use-service lua.acme-http01 if METH_GET url_acme_http01

	reqadd X-Forwarded-Proto:\ http

	use_backend backend_autoconfig if host_autoconfig
	default_backend letsencrypt-backend

backend letsencrypt-backend
	server letsencrypt 127.0.0.1:54321

backend backend_autoconfig
	mode http
	errorfile 503 /usr/local/etc/haproxy/errors/autoconfig-mail-11.xml

